<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Mer.SecureM.NG.Client.ConfigurationApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Mer.SecureM.NG.Client.OperationApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="profile">
      <section name="MetaData" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="dvtel.tracing" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
  </configSections>
  <profile>
    <MetaData>
      <add key="AlarmFont" value="Arial" />
      <add key="AlarmFontSize" value="11.25" />
      <add key="AlarmFontStyle" value="Regular" />
      <add key="AlarmTextColor" value="Red" />
      <add key="AlarmTextOpacity" value="255" />
      <add key="NormalFont" value="Arial" />
      <add key="NormalFontSize" value="8.25" />
      <add key="NormalFontStyle" value="Regular" />
      <add key="NormalTextColor" value="White" />
      <add key="NormalTextOpacity" value="220" />
      <add key="HeaderFont" value="Arial" />
      <add key="HeaderFontSize" value="11.25" />
      <add key="HeaderFontStyle" value="Regular" />
      <add key="HeaderTextColor" value="White" />
      <add key="HeaderTextOpacity" value="220" />
      <add key="PresentationDuration" value="5" />
      <add key="StringLocationX" value="0.1" />
      <add key="StringLocationY" value="0.8"  />
      <add key="StringMaxPixelSizeWidth" value="5"  />
      <add key="StringMaxPixelSizeHeight" value="4"   />
      <add key="StringBackColor"  value="Black" />
      <add key="StringBackOpacity"  value="25" />
      <add key="LineWidth" value="NORMAL" />
      <add key="ShapeColor" value="Black" />
      <add key="ShapeOpacity" value="220" />
    </MetaData>
  </profile>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="console" xsi:type="ColoredConsole" layout="${longdate} ${level} ${threadid} ${message}"/>
      <target name="cctvLog" xsi:type="File" Encoding="utf-8" layout="${longdate} ${level} ${threadid} ${message}"
            fileName="${cached:cached=true:inner=${basedir}/CCTVLogs/CCTVLog-${date:format=yyyy-MM-dd}}.log"
            maxArchiveFiles="100" archiveNumbering="Sequence" archiveAboveSize="209715200" archiveFileName="${basedir}/CCTVLogs/CCTVLog.{###}.log"/>

    </targets>
    <rules>
      <logger name="cctvLog" minlevel="INFO" writeTo="cctvLog"/>
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>

    <Mer.SecureM.NG.Client.ConfigurationApplication.Properties.Settings>
      <setting name="ModuleAssemblies" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Mer.SecureM.NG.Client.Common.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.Common.Application.dll</string>
            <string>Mer.SecureM.NG.Client.Infrastructure.Modules.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.Infrastructure.Modules.Application.dll</string>
            <string>Mer.SecureM.NG.Client.SettingsModule.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.SettingsModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.TemplateModule.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.TemplateModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.DeviceModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.DeviceModule.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.ReportsModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.ReportsModule.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.UsersModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.UsersModule.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.GISModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.GISModule.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.SystemConfigurationModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.SystemConfigurationModule.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.PermissionsModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.PermissionsModule.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.CustomModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.CustomModule.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.ListManagementModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.ListManagementModule.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.SchedulerModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.SchedulerModule.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.VideoWallModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.VideoWallModule.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.RouteModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.RouteModule.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.MagnaModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.MagnaModule.Presentation.dll</string>
          </ArrayOfString>
        </value>
      </setting>
    </Mer.SecureM.NG.Client.ConfigurationApplication.Properties.Settings>

    <Mer.SecureM.NG.Client.OperationApplication.Properties.Settings>
      <setting name="ModuleAssemblies" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Mer.SecureM.NG.Client.Common.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.Common.Application.dll</string>
            <string>Mer.SecureM.NG.Client.Infrastructure.Modules.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.Infrastructure.Modules.Application.dll</string>
            <string>Mer.SecureM.NG.Client.SettingsModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.SettingsModule.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.UsersModule.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.UsersModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.CctvModule.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.CctvModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.EventsTasksModule.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.EventsTasksModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.GISModule.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.GISModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.DeviceModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.DeviceModule.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.CustomModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.CustomModule.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.ListManagementModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.ListManagementModule.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.AllInOneModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.AllInOneModule.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.ReportsModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.ReportsModule.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.VideoWallModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.VideoWallModule.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.RouteModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.RouteModule.Presentation.dll</string>
            <string>Mer.SecureM.NG.Client.MagnaModule.Application.dll</string>
            <string>Mer.SecureM.NG.Client.MagnaModule.Presentation.dll</string>
          </ArrayOfString>
        </value>
      </setting>
    </Mer.SecureM.NG.Client.OperationApplication.Properties.Settings>
  </applicationSettings>

  <appSettings>
    <add key="RishonFullExtent" value="34.6782652, 31.93370103, 34.8746131, 32.0160147"/>
    <add key="LogService" value="IntegrationServerLogging" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="NetworkDiscoveryEnabled" value="false"/>
    <add key="NotificationServerUrl"  value="http://rome/SMNG/NotificationServer" />
    <add key="NetworkDiscoveryOnDemandDuration" value="600"/>
    <add key="NetworkDiscoveryCollectorDuration" value="1000"/>
    <add key="NetworkDiscoveryCollectorInterval" value="60000"/>
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="FreeDrawingPath" value="rome" />
    <add key="CctvDriversPath" value="CCTVDrivers\" />
    <add key="DiscoveryAndSave" value="1" />
    <add key="CreateReport" value="http://rome/Reports/Pages/Folder.aspx"/>
    <!--<add key="EventCameraRecordedScreen" value="2" />-->

    <!--special additional notification log-->
    <add key="ReconnectWaitMilliseconds" value="1000" />
    <add key="UseAdditionalLog" value="true" />
    <add key="LogNotificationBroadcasts" value="false" />
    <add key="LogLevel" value="ALL" />
    <add key="AdditionalLogPath" value=".\logs"/>
    <add key="CODGracePeriod" value="00:00:05"/>

  </appSettings>
  <!--http://houston/ReportServer/Pages/ReportViewer.aspx?%2fMer.SecureM.NG.Client.ReportsModule.Reports%2fActionItemsForEvent&rs:Command=Render-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IntegrationServerWithCertificate">
          <security mode="TransportCredentialOnly" />
        </binding>
        <binding name="IntegrationServerBasicSecurity" messageEncoding="Mtom">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="basicHttpFileHandlerStream" maxReceivedMessageSize="2147483647" messageEncoding="Mtom" transferMode="Streamed" sendTimeout="00:25:00" receiveTimeout="00:25:00"/>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="SMNGServiceBinding" maxReceivedMessageSize="2147483647" sendTimeout="00:25:00" receiveTimeout="00:25:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Message">
            <message clientCredentialType="UserName" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WindowsIntegrated_FileManagementServiceEndpoint" />
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="SMNG.Streamed.NetTcp.Binding" transferMode="Streamed" maxReceivedMessageSize="2147483647" sendTimeout="00:25:00" receiveTimeout="00:25:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>
      <customBinding>
        <binding name="BinaryHttpBinding">
          <security authenticationMode="SecureConversation"
                      requireSecurityContextCancellation="true">
          </security>
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>

    <client>

      <endpoint address="http://rome/SMNG/Services/DeviceManagementService.svc" binding="wsHttpBinding"
               bindingConfiguration="SMNGServiceBinding" contract="Mer.SecureM.NG.Common.ServiceModel.Contracts.IDeviceManagementService" name="IntegrationServerAuthentication">
        <identity>
          <dns value="rome.Managix.Local"/>
        </identity>
      </endpoint>

      <endpoint address="http://rome/SMNG/Services/UserProfileService.svc" binding="wsHttpBinding"
               bindingConfiguration="SMNGServiceBinding" contract="Mer.SecureM.NG.Common.ServiceModel.Contracts.IUserProfileService" name="IntegrationServerUsers">
        <identity>
          <dns value="rome.Managix.Local"/>
        </identity>
      </endpoint>

      <endpoint address="http://rome/SMNG/Services/AdapterManagementService.svc" binding="wsHttpBinding"
          bindingConfiguration="SMNGServiceBinding" contract="Mer.SecureM.NG.Common.ServiceModel.Contracts.IAdapterManagementService" name="IntegrationServerAdapterConfig">
        <identity>
          <dns value="rome.Managix.Local"/>
        </identity>
      </endpoint>

      <endpoint address="http://rome/SMNG/Services/TemplatesManagementService.svc" binding="wsHttpBinding"
                      bindingConfiguration="SMNGServiceBinding"
                      contract="Mer.SecureM.NG.Common.ServiceModel.Contracts.ITemplateService" name="IntegrationServerTemplate" >
        <identity>
          <dns value="rome.Managix.Local"/>
        </identity>
      </endpoint>

      <endpoint address="http://rome/SMNG/Services/AuthenticationService.svc" binding="wsHttpBinding"
               bindingConfiguration="SMNGServiceBinding" contract="Mer.SecureM.NG.Common.ServiceModel.Contracts.IAuthenticationService"
               name="IntegrationServerAuthentication">
        <identity>
          <dns value="rome.Managix.Local"/>
        </identity>
      </endpoint>


      <endpoint address="http://rome/SMNG/Services/LoggingService.svc" binding="wsHttpBinding"
                bindingConfiguration="SMNGServiceBinding" contract="Mer.SecureM.NG.Common.ServiceModel.Contracts.ILoggingService" name="IntegrationServerLogging">
        <identity>
          <dns value="rome.Managix.Local"/>
        </identity>
      </endpoint>

      <endpoint address="http://rome/SMNG/Services/FileHandlerService.svc" binding="wsHttpBinding" bindingConfiguration="SMNGServiceBinding"
             contract="Mer.SecureM.NG.Common.ServiceModel.Contracts.IFileManagementService" name="IntegrationServerFileHandler" >
        <identity>
          <dns value="rome.Managix.Local" />
        </identity>
      </endpoint>

      <endpoint address="http://rome/SMNG/Services/GisConfigurationService.svc" binding="wsHttpBinding"
                  bindingConfiguration="SMNGServiceBinding"
                  contract="Mer.SecureM.NG.Common.ServiceModel.Contracts.IGisConfigurationService" name="IntegrationServerGis" >
        <identity>
          <dns value="rome.Managix.Local"/>
        </identity>
      </endpoint>

      <endpoint address="http://rome/SMNG/Services/EventService.svc" binding="wsHttpBinding"
                  bindingConfiguration="SMNGServiceBinding"
                  contract="Mer.SecureM.NG.Common.ServiceModel.Contracts.IEventService" name="EventServiceEndpoint" >
        <identity>
          <dns value="rome.Managix.Local"/>
        </identity>
      </endpoint>

      <endpoint address="http://rome/SMNG/Services/RuleEngineService.svc"  binding="wsHttpBinding"
               bindingConfiguration="SMNGServiceBinding" contract="Mer.SecureM.NG.Common.ServiceModel.Contracts.IRuleEngineService" name="IntegrationServerRuleEngine">
        <identity>
          <dns value="rome.Managix.Local"/>
        </identity>
      </endpoint>
      <endpoint address="http://rome/SMNG/Services/PermissionManagementService.svc"  binding="wsHttpBinding"
         bindingConfiguration="SMNGServiceBinding" contract="Mer.SecureM.NG.Common.ServiceModel.Contracts.IPermissionService" name="IntegrationServerPermissions">
        <identity>
          <dns value="rome.Managix.Local"/>
        </identity>
      </endpoint>

      <endpoint address="http://rome/SMNG/Services/ElementsManagementService.svc" binding="wsHttpBinding"
                bindingConfiguration="SMNGServiceBinding"
                contract="Mer.SecureM.NG.Common.ServiceModel.Contracts.IElementManagementService" name="IntegrationServerElement" >
        <identity>
          <dns value="rome.Managix.Local"/>
        </identity>
      </endpoint>

      <endpoint address="http://rome/SMNG/Services/SearchingManagementService.svc" binding="wsHttpBinding"
              bindingConfiguration="SMNGServiceBinding" contract="Mer.SecureM.NG.Common.ServiceModel.Contracts.ISearchConfigurationService" name="IntegrationServerSearch">
        <identity>
          <dns value="rome.Managix.Local"/>
        </identity>
      </endpoint>

      <endpoint address="http://rome/SMNG/Services/AuditManagementService.svc" binding="wsHttpBinding"
               bindingConfiguration="SMNGServiceBinding" contract="Mer.SecureM.NG.Common.ServiceModel.Contracts.IAuditManagementService" name="IntegrationServerAudit">
        <identity>
          <dns value="rome.Managix.Local"/>
        </identity>
      </endpoint>

      <endpoint address="http://rome/SMNG/Services/PriorityControlService.svc" binding="wsHttpBinding"
              bindingConfiguration="SMNGServiceBinding" contract="Mer.SecureM.NG.Common.ServiceModel.Contracts.IPriorityControlService" name="PriorityControlService">
        <identity>
          <dns value="rome.Managix.Local" />
        </identity>
      </endpoint>

      <endpoint address="http://rome/SMNG/Services/DiscoveryServer.svc" binding="wsHttpBinding" bindingConfiguration="SMNGServiceBinding" contract="Mer.SecureM.NG.Common.ServiceModel.Contracts.IDiscoveryService" name="DiscoveryServiceEndPoint">
        <identity>
          <dns value="rome.Managix.Local" />
        </identity>
      </endpoint>

      <endpoint address="http://rome/GISServer/Web/GeoService.svc" binding="wsHttpBinding"
                      bindingConfiguration="SMNGServiceBinding" contract="Mer.SecureM.NG.Common.ServiceModel.Contracts.IGeoServer" name="GeoServerEndPoint">
        <identity>
          <dns value="rome.Managix.Local"/>
        </identity>
      </endpoint>

      <endpoint address="http://rome/SMNG/NotificationServer/Services/NotificationClientFactory.svc" binding="customBinding"
                bindingConfiguration="BinaryHttpBinding" contract="Mer.SecureM.NG.Notification.Service.INotificationClientFactory" name="NotificationServerEndPoint">
        <identity>
          <dns value="rome.Managix.Local"/>
        </identity>
      </endpoint>

      <endpoint address="http://rome/SMNG/Services/SchedulerService.svc" binding="wsHttpBinding"
                     bindingConfiguration="SMNGServiceBinding"
                     contract="Mer.SecureM.NG.Common.ServiceModel.Contracts.ISchedulerService" name="IntegrationServerScheduler" >
        <identity>
          <dns value="rome.Managix.Local"/>
        </identity>
      </endpoint>

      <endpoint address="http://rome/SMNG/Services/CoreElementDataService.svc" binding="wsHttpBinding"
                  bindingConfiguration="SMNGServiceBinding" contract="Mer.SecureM.NG.Common.ServiceModel.Contracts.ICoreElementDataService"
                  name="IntegrationCoreElementDataService">
        <identity>
          <dns value="rome.Managix.local"/>
        </identity>
      </endpoint>

      <endpoint address="http://rome/SMNG/Services/ArchiverService.svc" binding="wsHttpBinding"
               bindingConfiguration="SMNGServiceBinding"  contract="Mer.SecureM.NG.Common.ServiceModel.Contracts.IArchiverVideoService"
               name="ArchiverService" >
        <identity>
          <dns value="rome.Managix.local"/>
        </identity>
      </endpoint>
    
  <endpoint address="http://rome/SMNG/Services/VideoWallService.svc" binding="wsHttpBinding"
              bindingConfiguration="SMNGServiceBinding"  contract="Mer.SecureM.NG.Common.ServiceModel.Contracts.IVideoWallService"
              name="IntegrationGeneralVideoWallService" >
        <identity>
          <dns value="rome.Managix.local"/>
        </identity>
      </endpoint>

  </client>
  </system.serviceModel>

  <runtime>
    <gcServer enabled="true" />
    <generatePublisherEvidence enabled="false"/>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral"/>
        <bindingRedirect oldVersion="4.0.0.0"
                         newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <system.diagnostics>
    <sources>

      <source name="System.Windows.Data" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>


      <source name="System.Windows.DependencyProperty" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>


      <!--<source name="System.Windows.Freezable" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>-->


      <!--<source name="System.Windows.RoutedEvent" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>-->


      <source name="System.Windows.Media.Animation" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>


      <source name="System.Windows.NameScope" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>


      <!--<source name="System.Windows.ResourceDictionary" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>-->


      <source name="System.Windows.Markup" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>


      <!--<source name="System.Windows.Documents" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>-->

    </sources>


    <switches>
      <add name="SourceSwitch" value="All" />
      <!--add name="SourceSwitch" value="Off" -->
      <!--add name="SourceSwitch" value="Verbose" -->
      <!--add name="SourceSwitch" value="Warning" -->
      <!--add name="SourceSwitch" value="Activity" -->
    </switches>

    <sharedListeners>
      <!-- This listener sends output to the console -->
      <add name="console"
           type="System.Diagnostics.ConsoleTraceListener"
           initializeData="false"/>
      <!-- This listener sends output to an Xml file named NGTrace.xml -->
      <add name="xmlListener"
           type="System.Diagnostics.XmlWriterTraceListener"
           traceOutputOptions="None"
           initializeData="NGTrace.xml" />
      <!-- This listener sends output to a file named NGTrace.txt -->
      <add name="textListener"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="NGTrace.txt" />
    </sharedListeners>
    <trace autoflush="true" indentsize="4"></trace>

  </system.diagnostics>
</configuration>
